{% extends 'base.html' %}


{% load static %}

{% block css_additional %} <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">{% endblock %}


{% block title %}Меню{% endblock %}


{% block content %}
    {% include 'includes/navbar.html' %}
    {% for zodiac in zodiacs %}
        <ul>
            <li>
                <a href="{% url 'horoscope-name' sign_zodiac=zodiac %}">{{ zodiac|title }}</a>
            </li>
        </ul>
    {% endfor %}
    {% include 'includes/navbar.html' %}
{% endblock %}

