{% extends 'base.html' %}


{% load static %}

{% block css_additional %} <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">{% endblock %}


{% block title %}Меню{% endblock %}


{% block content %}
    
    
    {% for zodiac in zodiacs %}
        <ul>
            <li>
                <a href="{{ zodiac.get_url }}">{{ zodiac.title }}</a>
{#                #через созданный нами метод get_url#}
{#                <a href="{% url 'get_info_about_sign_zodiac' zodiac.id %}">{{ zodiac.title }}</a> !!!можно и так#}
            </li>
        </ul>
    {% endfor %}

    <br>
    <br>
    <a href="{% url 'otziv' %}">
        <button>Оставить отзыв</button>
    <br>
    <br>
    <a href="{% url 'list_feedback' %}">
        <button>Прочитать отзывы</button>

    {% include 'includes/navbar.html' %}
{% endblock %}


