{% extends 'base.html' %}
{% load static %}


{% block title %}
    Гороскоп для {{ zodiac.title }}
{% endblock %}


{% block css_additional %} <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}"> {% endblock %}


{% block content %}
    
    {% include 'includes/navbar.html' %}
    
    <h2>Инфо знака зодиака - {{ zodiac }} </h2>
    
    <h3>{{ zodiac.description }}</h3>
    <h3>Известные люди со знаком зодиака {{ zodiac.title }} - {{ zodiac.peoples }}!!!</h3>
    <h4>Количество человек с этим знаком зодиака - {{ zodiac.cost }}</h4>
    {% include 'includes/navbar.html' %}
{% endblock %}
